
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        "DASH BOARD"
                    </li>
                    <li class="nav-item">
                        "SHOW NEXT 7 DAYS"
                    </li>
                    <li class="nav-item">
                        "SHOW THIS MONTH"
                    </li> 
                    <li class="nav-item">
                        "UPLOAD FILES"
                    </li>                                                             
                </ul>
            </div>
        </nav>
    </div>
</div>