<div class="row">
  <div class="col-md-12">
    <h1>Home</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>{{{content.left}}}</p>
  </div>
  <div class="col-md-6">
    <p>
      {{{content.right}}}
    </p>
  </div>
  </div>
</div>